#home {
  color: #000;
}

#home .home_t {
  text-align: center;
  padding: 0.463rem 0 2.0833rem 0;
}

#home .home_t p {
  color: #999999;
  font-size: 0.3333rem;
}

#home .home_t h1 {
  color: #33cc99;
  font-size: 0.3889rem;
}

#home .home_c {
  text-align: center;
}

#home .home_c > img {
  width: 0.6667rem;
  height: 0.6667rem;
  margin-bottom: 0.5185rem;
}

#home .home_c h2 {
  color: #999999;
  font-size: 0.4444rem;
  padding-bottom: 0.463rem;
}

#home .home_c h2.on {
  color: #21ce8f;
}

#home .home_c h2 img {
  width: 0.453rem;
  height: 0.453rem;
  margin-left: 5px;
  vertical-align: -3px;
}

#home .home_c p {
  color: #999999;
  font-size: 0.3333rem;
}

#home .home_c > ul {
  margin-top: 1.8519rem;
  padding: 0 0.5093rem;
}

#home .home_c > ul > li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-bottom: 0.8796rem;
}

#home .home_c > ul > li span {
  flex: 1;
  -webkit-flex: 1;
  font-size: 0.3889rem;
  text-align: left;
  color: #999999;
}

#home .home_c > ul > li span.on {
  text-align: right;
  color: #33cc99;
}

#home .home_b {
  position: absolute;
  bottom: 0.3778rem;
  width: 100%;
  padding: 0 0.4167rem;
  left: 0;
  right: 0;
  margin: auto;
}

#home .home_b p {
  color: #999999;
  font-size: 0.3333rem;
  margin-bottom: 0.4167rem;
}

#home .home_b .btn {
  background-color: #33cc99;
  color: #ffffff;
}

body .mint-msgbox-message {
  line-height: 25px;
}
